@tailwind base;
@tailwind components;
@tailwind utilities;

.item{
  -webkit-text-stroke: 1px white;
}


.right-img{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: animate 2s infinite ease alternate;

  @keyframes animate {
    to {
      transform: translateY(300px);
    }
  }

}