@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background: linear-gradient(to right, #000000, #021914);
}

.item{
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.item:hover{
  /* text-shadow: 0px 0px 0px #1eff00; */
  /* text-shadow: #1eff00 1px 0 10px; */
  /* text-shadow: 1px 1px 2px white, 0 0 1em #1eff00, 0 0 0.2em #1eff00; */
  
}

.item{
  -webkit-text-stroke: 1px #1eff00;
}

.item:focus{
  -webkit-text-stroke: 2px #1eff00;
  text-shadow: 1px 1px 2px white, 0 0 1em #1eff00, 0 0 0.2em #1eff00;
}
